body{
    background-color: rgb(9, 11, 34);
}

.text-white{
    color: white;
}
.text-black{
    color: black;
}
.thumbnail{
    width: 46vh;
    height: 50vh;
    margin:5px;
    padding: 0%;
}
.thumbnail-img{
    width: 100%;
    max-width: 100%;
    max-height: 80%;
}
.product-details{
    padding: 3px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}

.login-container{
    margin-top: 25vh;
}